// General Styles
body {
    font-family: 'Roboto', sans-serif;
}

a {
    color: #333333;
}

a:hover {
    color: #999966;
    text-decoration: none;
}

.text-dark:hover {
    color: #999966;
}

.nav-link {
    font-size: .875rem;
}

.navbar-expand .navbar-nav .nav-link {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Archivo Narrow', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.005em;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(153, 153, 102, 0.5);
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(153, 153, 102, 0.5);
}

// Header

// Jumbotron
.jumbo-text {
    @media (min-width: 768px) {
        width: 50%;
    }
}

#elementV {
    left: 0;
    z-index: 5;
}

.jumbotron {
    background: url(../img/hero/morning4.jpg) no-repeat bottom center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius: 0;   
    margin-bottom: 0;
    @media (min-width: 768px) {
        background-position: bottom right;
    }
}


// Index Page
.landing-img-sales  {
    filter: grayscale(100%);
}

// Services
#services1 {
    background: 
    /* top, transparent white, faked with gradient */ 
    linear-gradient(
      rgba(255, 255, 255, 0.65), 
      rgba(255, 255, 255, 0.65)
    ),
    /* bottom, image */  
    url('../img/cattle-strategy-jumbo.jpg');   
    background-position: right;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    border-radius: 0;   
    margin-bottom: 0;
    background-position: top center;
}

.fa-check-circle {
    color: green;
}

// Sales
.card h5 {
    @media ( min-width: 768px ) {
        font-size: 1rem;
    }
    @media ( min-width: 992px ) {
        font-size: 1.25rem;
    }
}

.pdf-download {
    width: 30px;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


// Contact
@media (min-width: 768px) {
    .contact-section {
        width: 75%;
    }
}

.contact-form-wrapper {
    width: 100%;
    @media (min-width: 992px) {
        width: 75%;
    }
    @media (min-width: 1200px) {
        width: 60%;
    }
}

// .contact {
//     background: 
//       /* top, transparent white, faked with gradient */ 
//       linear-gradient(
//         rgba(255, 255, 255, 0.60), 
//         rgba(255, 255, 255, 0.60)
//       ),
//       /* bottom, image */
//       url('../img/hero/morning4.jpg');
//       -webkit-background-size: cover;
//       -moz-background-size: cover;
//       -o-background-size: cover;
//       border-radius: 0;   
//       margin-bottom: 0;
//       background-position: center center;
//   }

.primary-textarea.md-form label.active {
    color: #4285F4;
}

// Footer

.email {
    width: auto;
}  

footer p,
footer h6 {
    font-size: .85em;
}

@media (min-width: 1200px) {
    .footer-copyright,
    footer p,
    footer h6 {
        font-size: .90em;
    }  
}

footer a:hover {
    color: #999966;
    text-decoration: none;
}
